/* @import url('https://fonts.googleapis.com/css2?family=Roboto+Flex:opsz,wght@8..144,100..1000&display=swap'); */

@import url("https://fonts.googleapis.com/css2?family=Anton+SC&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Anton+SC&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  margin: 0;
  padding: 0;
}

:root {
  /* --primary-color: #2E72FE; */
  --primary-color: #43a3ff;
  --text-primary-color: #fff;
  --text-secondary-color: #ffffff;
  --border-color: #2e72fe1a;
  --poppins-font: "Poppins", sans-serif;
  --anton-font: "Anton SC", sans-serif;
}

body {
  background-color: #0e1422 !important;
}

/* * {
   font-family: "Anton SC", sans-serif;

     font-family: "Poppins", sans-serif;

} */

a {
  text-decoration: none !important;
}

@media only screen and (min-width: 1660px) {
  .container {
    max-width: 1320px !important;
  }
}

@media only screen and (min-width: 1200px) and (max-width: 1399px) {
  .container {
    max-width: 1130px !important;
  }
}

#header {
  height: 95px;
  align-items: center;
}

#hamburg {
  color: var(--text-primary-color);
}

@media only screen and (min-width: 992px) {
  #hamburg {
    display: none;
  }
}

#header .navLogo {
  max-width: 248px;
}

#header .navLogo img {
  width: 100%;
}

#header .navFlex {
  gap: 24px;
  align-items: center;
}

.servicesDropdown {
  background-color: transparent;
  color: #000;
  border: none;
  font-size: 18px !important;
  font-weight: 400;
  /* padding: 0px 9px !important; */
  /* height: 0; */
  line-height: 0;
  margin-top: 2px;
}

.servicesDropdown svg {
  margin-left: 4px;
}

.servicesDropdown:hover {
  color: var(--primary-color) !important;
}

.nav-link {
  color: var(--text-primary-color) !important;
  font-family: "Poppins", sans-serif !important;
  font-size: 16px !important;
  font-weight: 500 !important;
  transition: all 0.3s ease-in-out;
  padding: 0px !important;
  position: relative;
  opacity: 1 !important;
}

.nav-link::after,
.servicesDropdown::after {
  content: "";
  position: absolute;
  bottom: -4px;
  left: 0px;
  right: 0px;
  display: none;
  margin: auto;
  background-color: var(--primary-color);
  width: 100%;
  height: 3px;
}

.nav-link:hover {
  color: var(--primary-color) !important;
}

.nav-link:hover::after {
  display: block;
}

.navbar-expand-lg .navbar-collapse {
  justify-content: end;
}

.offcanvas-header {
  background: transparent !important;
  color: white !important;
}

.offcanvas-header .btn-close {
  background-color: white;
}

.offcanvas-body {
  background: transparent;
  display: flex;
  flex-direction: column;
  gap: 36px;
  font-size: 18px;
}

.offcanvas.offcanvas-end {
  width: 80% !important;
}

.offcanvas-body .navFlex {
  flex-direction: column;
  gap: 30px;
  align-items: start;
  justify-content: start;
}

.offcanvas-body .services-bottom {
  padding: 0px !important;
  font-size: 18px !important;
}

/* utilities */
.commonMT {
  margin-top: 100px;
}

@media screen and (max-width: 575px) {
  .commonMT {
    margin-top: 30px;
  }
}

.commonTextDiv h1 {
  font-size: 52px;
  /* line-height: 62px; */
  color: var(--text-primary-color);
  font-family: var(--anton-font);
}

.commonTextDiv h1 span {
  color: var(--primary-color);
}

.commonTextDiv p {
  color: var(--text-secondary-color);
  font-family: var(--poppins-font);
  font-size: 18px;
  font-weight: 400;
  margin-bottom: 0px;
}

.flexCenter {
  display: flex;
  align-items: center;
  justify-content: center;
}

.flexColumnCenter {
  display: flex;
  gap: 12px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: auto;
  text-align: center;
}

@media screen and (min-width: 992px) {
  .flexColumnCenter {
    width: 70%;
  }
}

.commonRowGap {
  gap: 30px 0px;
}

@media screen and (max-width: 767px) {
  .commonTextDiv h1 {
    font-size: 40px;
  }
}

@media screen and (max-width: 575px) {
  /* .flexColumnCenter {
    text-align: start;
    align-items: start;
    justify-content: start;
  } */

  .commonTextDiv h1 {
    font-size: 28px;
  }
}

/* utilities ends here*/

.heroSect {
  position: relative;
  padding-bottom: 120px;
  overflow: hidden;
}

.heroSect::before,
.heroSect::after {
  content: "";
  position: absolute;
  bottom: 0px;
  width: 50%;
  height: 50px;
  background-color: var(--primary-color);
}

.heroSect::before {
  transform: rotate(2deg);
  left: 0px;
}

.heroSect::after {
  right: 0px;
  transform: rotate(-2deg);
}

.heroSect img {
  width: 100%;
  height: auto;
}

@media screen and (max-width: 575px) {
  .heroSect {
    padding-bottom: 80px;
  }
}

/* heroSect ends  */

.productsSect {
  background-color: #0e1422;
  /* margin-top: -32px; */
  position: relative;
  /* padding-top: 60px; */
}

.productsSect .flexColumnCenter {
  width: 100%;
  text-align: start;
}

@media screen and (min-width: 1200px) {
  .productsSect .flexColumnCenter {
    height: 500px;
    position: sticky;
    top: 0;
  }
}

.productsSect .card {
  background: #1b1c2d;
  border: 1px solid var(--border-color);
  border-radius: 12px;
  padding: 16px;
  height: 270px;
  overflow: hidden;
  /* height: 270px; changd 430px to 470px */
}

.productsSect .card::before {
  content: "";
  position: absolute;
  width: 80px;
  height: 60px;
  background-color: var(--primary-color);
  filter: blur(70px);
  z-index: -1;
}

.productsSect .card::before {
  top: 0px;
  left: 30%;
}

.productsSect .card .name {
  color: var(--primary-color);
  font-weight: 600;
  font-family: var(--poppins-font);
}

.productsSect .card .desc {
  font-size: 12px;
  font-weight: 600;
  display: block;
  font-family: var(--poppins-font);
  color: var(--text-secondary-color);
  text-transform: capitalize;
}

@media screen and (min-width: 1200px) {
  .productsSect .card .desc {
    height: 40px;
  }
}

.productsSect .card .buyDetails {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}
@media only screen and (max-width:575px) {
  .productsSect .card .buyDetails {
    flex-direction: column;
  }
  
}
.productsSect .card .buyDetails .flexColumnStart{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}
.productsSect .card .buyDetails .priceLable {
  font-size: small;
  color: #fff;
}
.productsSect .card .buyBtn {
  border: 1px solid var(--primary-color) !important;
  border-radius: 8px;
  background: transparent;
  padding: 10px;
  color: #fff !important;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  height: 100%;
  transition: all 0.5s ease-in-out;
}
.productsSect .card .buyBtn:hover{
  background: var(--primary-color);
  color: #fff !important;
}
.productsSect .card .buyBtn .icon {
  background-color: var(--primary-color);
  border-radius: 100px;
  width: 26px;
  height: 26px;
}

.productsSect .card .buyDetails .salePrice {
  font-family: var(--anton-font);
  font-size: 18px;
  margin-left: 4px;
  letter-spacing: 1px;
  color: var(--text-primary-color);
}

.productsSect .card .buyDetails .price {
  font-family: var(--anton-font);
  color: gray;
  text-decoration: line-through;
}

.productsSect .viewAllBtn {
  background-color: transparent;
  color: var(--text-primary-color);
  border: 2px solid var(--primary-color);
  width: 116px;
  height: 52px;
  border-radius: 6px;
  font-weight: 600;
}

.productsSect .viewAllBtn svg {
  margin-top: -4px;
}

.productsSect .cardRow {
  transition: max-height 0.7s ease;
}

.productsSect .viewLess {
  max-height: 575px;
  overflow: hidden;
  transition: max-height 0.7s ease;
}

.productsSect .viewMore {
  overflow: hidden;
  transition: max-height 2s ease;
  max-height: 5000px;
  /* Expanded height */
}

@media screen and (min-width: 1200px) and (max-width: 1399px) {
  .productsSect .viewLess {
    max-height: 572px;
  }

  .productsSect .card {
    height: 266px;
  }
}

@media screen and (max-width: 575px) {
  /* .productsSect {
    margin-top: -46px;
  } */

  .productsSect .flexColumnCenter {
    text-align: center;
  }

  .productsSect .viewLess {
    max-height: 600px;
    overflow: hidden;
  }

  .productsSect .card {
    padding: 8px;
    gap: 8px;
    height: 280px;
  }

  .productsSect .card img {
    width: 60px;
    height: 70px;
  }

  .productsSect .card .name {
    font-size: 10px;
    height: 24px;
    display: block;
  }

  .productsSect .card .desc {
    font-size: 10px;
  }

  .productsSect .card .buyBtn {
    width: max-content;
  }

  .productsSect .card .buyBtn .salePrice {
    font-size: 16px;
  }

  .productsSect .card .buyBtn .price {
    font-size: 14px;
  }
  .testimonialSect .card .userDetailsWrapper{
    flex-wrap: wrap;
    gap: 10px;
  }
  .testimonialSect .card .userDetailsWrapper span{
    word-break: break-all;
  }
}

/* productsSect ends here  */

#counter {
  border-radius: 16px;
  padding: 3px;
}

#counter .countWrapper {
  padding: 64px 0px;
  opacity: 0.9;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 16px;
  border: 1px solid #ffffff33;
  background-color: #1b1c2d;
  /* backdrop-filter: blur(150px); */
}

#counter .countWrapper .row {
  width: 100%;
  gap: 50px 0;
}

@media screen and (max-width: 575px) {
  #counter .countWrapper .row {
    width: 96%;
    margin: auto;
  }
}

#counter .countWrapper .countCard {
  display: flex;
  gap: 12px;
  align-items: center;
  justify-content: center;
}

#counter .countWrapper .countCard .countContent {
  display: flex;
  flex-direction: column;
  gap: 4px;
  color: white;
}

#counter .countWrapper .countCard .fcardImg {
  padding: 12px;
  background: var(--primary-color);
  border-radius: 60px;
  box-shadow: 0px 8px 26px 0px #caff3329;
}

#counter .countWrapper .countCard .countContent .countNum {
  color: var(--text-primary-color);
  font-size: 40px;
  font-family: var(--anton-font);
}

#counter .countWrapper .countCard .countContent .plus {
  font-size: 40px;
  font-weight: 600;
  margin-top: -6px;
}

#counter .countWrapper .countCard .countContent .countText {
  font-size: 18px;
  font-weight: 600;
  color: var(--text-secondary-color);
  font-family: var(--poppins-font);
}

@media screen and (max-width: 575px) {
  #counter .countWrapper .countCard {
    align-items: center;
    justify-content: start;
  }
}

@media screen and (max-width: 540px) {
  #counter .countWrapper {
    padding: 30px 0px;
  }

  #counter .col-6 {
    padding: 6px;
  }

  #counter .countWrapper .countCard .fcardImg {
    padding: 8px;
  }

  #counter .countWrapper .countCard .fcardImg img {
    width: 30px;
  }

  #counter .countWrapper .countCard .countContent .countNum,
  #counter .countWrapper .countCard .countContent .plus {
    font-size: 18px;
  }

  #counter .countWrapper .countCard .countContent .plus {
    margin-top: 0;
  }

  #counter .countWrapper .countCard .countContent .countText {
    font-size: 14px;
  }
}

/* counter ends  */

.cardListSect .card {
  background-color: #1b1c2d;
  border-radius: 12px;
  text-align: center;
  /* align-items: center; */
  border: 1px solid var(--border-color);
  position: relative;
  overflow: hidden;
}

.cardListSect .card .title {
  color: var(--text-primary-color);
  font-size: 34px;
  font-family: var(--anton-font);
  border: 1px solid var(--border-color);
  width: 100%;
  padding: 12px;
}

.cardListSect .card .listWrapper {
  padding: 24px 40px;
  display: flex;
  flex-direction: column;
  gap: 24px;
  text-align: start;
}

.cardListSect .card .listWrapper span {
  color: var(--text-secondary-color);
  font-weight: 500;
  font-family: var(--poppins-font);
}

@media screen and (max-width: 575px) {
  .cardListSect .card .title {
    font-size: 24px;
  }

  .cardListSect .card .listWrapper {
    padding: 12px;
  }
}

/* cardListSect ends here  */

.grabBundlesSect {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.grabBundlesSect .grabBundleCard {
  justify-content: center;
  align-items: center;
  border-radius: 16px;
  border: 1px solid #ffffff33;
  background: linear-gradient(
    180deg,
    #0d6efd0d 0%,
    rgba(153, 153, 153, 0.06) 100%
  );
  /* background-color: #316BE71A; */
  background: #1b1c2d;
}

.grabBundlesSect .grabBundleCard .upperDiv {
  background-color: var(--primary-color);
  padding: 20px;
  border-radius: 16px 16px 0px 0px;
  width: 100%;
}

.grabBundlesSect .grabBundleCard .upperDiv img {
  position: relative;
  top: -110px;
  display: block;
  margin: auto;
  width: 100%;
  height: auto;
}

.grabBundlesSect .grabBundleCard .upperDiv .mainTitle {
  color: #fff;
  font-size: 40px;
  font-family: var(--anton-font);
  width: 60%;
  text-align: center;
  display: block;
  margin: auto;
  margin-top: -60px;
}

@media screen and (max-width: 991px) {
  .grabBundlesSect .grabBundleCard .upperDiv .mainTitle {
    width: 100%;
  }
}

.grabBundlesSect .grabBundleCard .middleDiv {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 100%;
  padding: 20px;
  padding-top: 40px;
}

.grabBundlesSect .grabBundleCard .middleDiv .listDiv {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid #ffffff33;
  padding-bottom: 16px;
  /* flex-wrap: wrap; */
  gap: 24px 0px;
}

.grabBundlesSect .grabBundleCard .middleDiv div .name {
  color: var(--text-primary-color);
  font-size: 18px;
  font-weight: 600;
  font-family: var(--poppins-font);
}

.grabBundlesSect .grabBundleCard .middleDiv svg {
  color: var(--primary-color);
}

.grabBundlesSect .grabBundleCard .middleDiv div .price {
  color: #ffc66b;
  font-size: 18px;
  font-weight: 600;
  font-family: var(--poppins-font);
}

.grabBundlesSect .grabBundleCard .middleDiv div .cutPrice {
  font-size: 14px;
  text-decoration: line-through;
  margin-left: 2px;
}

.grabBundlesSect .grabBundleCard .bottomDiv {
  border-bottom: 1px solid var(--border-color);
  width: 97%;
  text-align: center;
  padding: 30px 0px;
}

.grabBundlesSect .grabBundleCard .bottomDiv h3 {
  color: #ffc66b;
  font-size: 40px;
  font-weight: 700;
  margin: auto;
  display: block;
  font-family: var(--poppins-font);
}

.grabBundlesSect .grabBundleCard .bottomDiv h3:first-child {
  color: #b69054;
  position: relative;
  overflow: hidden;
  width: max-content;
  margin-bottom: 12px;
}

.grabBundlesSect .grabBundleCard .bottomDiv h3:first-child::after {
  content: "";
  position: absolute;
  bottom: 20px;
  left: 0px;
  background-color: lightgray;
  width: 100%;
  height: 4px;
  border: 1px solid #b69054;
  transform: rotate(-2.39deg);
  border-radius: 8px;
}

.grabBundlesSect .grabBundleCard .buyBtnDiv {
  width: 100%;
  padding: 20px;
}

.grabBundlesSect .grabBundleCard .buyBtnDiv .ifBuyBtn {
  background-color: var(--primary-color);
  color: #fff;
  font-size: 30px;
  border: none;
  border-radius: 8px;
  width: 100%;
  text-align: center;
  color: #ffffff99;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
  font-weight: 600;
  font-family: var(--poppins-font);
}

.grabBundlesSect .grabBundleCard .buyBtnDiv .ifBuyBtn span {
  font-size: 48px;
  color: #fff;
  margin-left: 16px;
  font-weight: 700;
}

.grabBundlesSect .grabBundleCard .buyBtnDiv .freeCodeDetailModalWrapper {
  margin-top: 30px;
}

.grabBundlesSect .grabBundleCard .buyBtnDiv .freeCodeDetailModalWrapper span {
  color: #fff;
}

@media screen and (min-width: 992px) and (max-width: 1199px) {
  .grabBundleCard .listDiv .listInnerDiv {
    width: 74%;
  }
}

@media screen and (min-width: 768px) and (max-width: 991px) {
  .grabBundleCard .listDiv .listInnerDiv {
    width: 460px;
  }
}

@media screen and (min-width: 576px) and (max-width: 767px) {
  .grabBundleCard .listDiv .listInnerDiv {
    width: 340px;
  }
}

@media screen and (min-width: 400px) and (max-width: 575px) {
  .grabBundleCard .listDiv .listInnerDiv {
    width: 265px;
  }
}

@media screen and (max-width: 399px) {
  .grabBundleCard .listDiv .listInnerDiv {
    width: 170px;
  }
}

@media screen and (max-width: 575px) {
  .grabBundlesSect .grabBundleCard {
    margin-top: 60px;
  }

  .grabBundlesSect .grabBundleCard .middleDiv {
    padding: 12px 6px;
  }

  .grabBundlesSect .grabBundleCard .upperDiv img {
    top: -70px;
  }

  .grabBundlesSect .grabBundleCard .upperDiv .mainTitle {
    font-size: 22px;
  }

  .grabBundlesSect .grabBundleCard .middleDiv div .name {
    font-size: 12px;
  }

  .grabBundlesSect .grabBundleCard .middleDiv div .price {
    font-size: 12px;
  }

  .grabBundlesSect .grabBundleCard .bottomDiv h3 {
    font-size: 30px;
  }

  .grabBundlesSect .grabBundleCard .buyBtnDiv .ifBuyBtn {
    font-size: 22px;
    padding: 12px 0px;
  }

  .grabBundlesSect .grabBundleCard .buyBtnDiv .ifBuyBtn span {
    font-size: 28px;
  }
}

/* grabBundlesSect ends here  */

.testimonialSect .card {
  border: 1px solid var(--border-color);
  border-radius: 12px;
  gap: 24px;
  padding: 24px;
  font-family: var(--poppins-font);
  background-color: #1b1c2d;
}

.testimonialSect .card .userDetailsWrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid #ffffff33;
  padding-bottom: 12px;
}

.testimonialSect .card .userDetailsWrapper .userInfo {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.testimonialSect .card .userDetailsWrapper .userInfo span:first-child {
  font-size: 18px;
  color: var(--text-primary-color);
  font-weight: 600;
}

.testimonialSect .card .userDetailsWrapper .userInfo span:last-child {
  color: var(--text-secondary-color);
  font-weight: 500;
}

.testimonialSect .card .ratings {
  color: var(--primary-color);
  font-weight: 600;
}

.testimonialSect .card .ratings svg {
  margin-top: -4px;
  font-size: 20px;
}

.testimonialSect .card .commentDiv p {
  margin-bottom: 0px;
  color: var(--text-secondary-color);
  font-weight: 500;
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .testimonialSect .card {
    padding: 16px;
  }

  .testimonialSect .card .commentDiv p {
    height: 148px;
  }
}

@media screen and (min-width: 1200px) {
  .testimonialSect .card .commentDiv p {
    height: 124px;
  }
}

/* testimonialSect ends here  */

.newsLetterSect {
  border-radius: 16px;
  margin-top: -150px;
}

.newsLetterSect .commonRowGap {
  background-color: #00021ae3;
  padding: 12px;
  border-radius: 14px;
  position: relative;
  z-index: 1;
}

.newsLetterSect .title {
  color: var(--text-primary-color);
  font-size: 38px;
  font-family: var(--anton-font);
}

.newsLetterSect .text {
  font-size: 24px;
  font-weight: 600;
}

.newsLetterSect .leftDiv {
  text-align: start;
}

.newsLetterSect input {
  background-color: #fff;
  padding: 12px;
  border-radius: 6px;
  width: 100%;
  border: none;
}

.newsLetterSect input:focus {
  outline: none;
}

.newsLetterSect input::placeholder {
  color: gray;
}

.newsLetterSect .btnSubmit {
  border-radius: 6px;
  background-color: var(--primary-color);
  color: #fff;
  border: none;
  padding: 8px 20px;
}

footer {
  border-top: 2px solid var(--border-color);
  text-align: center;
  position: relative;
  margin-top: 280px;
}

footer .cpyRightWrapper {
  height: 70px;
  border-top: 2px solid var(--border-color);
  flex-wrap: wrap;
  padding: 12px;
  text-align: start;
  gap: 16px;
}

footer .otherText {
  color: var(--text-primary-color);
  margin-top: 40px;
  padding-bottom: 12px;
  text-align: start;
}

footer .cpyRight,
footer a {
  color: var(--text-primary-color);
  font-size: 16px;
  font-weight: 400;
  font-family: var(--poppins-font);
}

.formLoaderWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 20px;
  padding: 05px 10px;
}

.formLoader {
  border: 4px solid #f3f3f3;
  border-top: 4px solid var(--primary-color);
  border-radius: 50%;
  width: 20px;
  height: 20px;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

@media screen and (max-width: 575px) {
  footer {
    margin-top: 224px;
  }

  .container {
    width: 94% !important;
  }

  .newsLetterSect .leftDiv {
    flex-wrap: wrap;
    justify-content: center !important;
  }

  .newsLetterSect .title {
    font-size: 28px;
    text-align: center;
  }

  .newsLetterSect .text {
    font-size: 18px;
  }

  .newsLetterSect .btnSubmit {
    margin: auto;
  }

  footer .linksDiv {
    padding-bottom: 18px;
  }
}

#countdown .countdownDiv {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 50px;
  color: white;
}

#countdown .countdownDiv .countdown-container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 55px;
  margin-top: 16px;
}

#countdown .countdownDiv .countdown-container .countdown-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  background-color: #0a0c28;
}

#countdown .countdownDiv .countdown-container .countdown-box .commonBorder {
  padding: 2px 3px;
  padding-bottom: 5px;
}

#countdown .countdownDiv .countdown-container .countdown-box .countTimer {
  background-color: #0a0c28;
  border-radius: 12px;
  padding: 10px 26px;
  width: 90px;
  text-align: center;
  font-size: 48px;
  font-weight: 900;
}

#countdown .countdownDiv .countdown-container .countdown-box .countdown-label {
  margin-top: 12px;
  text-align: center;
  font-size: 30px;
  font-weight: 400;
}

.countdownOver {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.countdownOver span {
  font-family: "Roboto";
  font-size: 45px;
  background: linear-gradient();
  color: #ff9066ed;
}

.countdownOver .boldText {
  font-size: 50px;
  font-weight: 900;
}

.aniTextContainer {
  position: fixed;
  bottom: 20px;
  left: 20px;
  /* padding: 20px; */
  z-index: 99;
}

.aniTextContent {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 10px;
  width: max-content;
  height: 70px;
  text-align: start;
  font-size: 1.2em;
  background-color: #f9f9f9;
  overflow: hidden;
}

.aniTextContainer span {
  font-size: 14px;
}

.aniTextContainer .country {
  color: var(--primary-color);
}

.aniTextContainer .country span {
  font-weight: 900;
}

.aniTextContainer .time {
  color: gray;
}

.topHeader {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--primary-color);
  color: white;
  font-family: var(--poppins-font);
  font-size: 18px;
  gap: 12px;
  position: -webkit-sticky;
  position: sticky;
  top: 0px;
  z-index: 999;
  width: 100%;
  overflow: hidden;
  padding: 10px 0px;
}

.sticky {
  position: fixed;
  top: 0;
}

.topHeader .countdown-container {
  display: flex;
  align-items: baseline;
  justify-content: center;
  text-align: center;
  gap: 2px;
}

.topHeader .countdown-container .countdown-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 4px;
  border-radius: 6px;
  width: 66px;
  padding: 2px;
}

.topHeader .countdown-container .countdown-box span:first-child {
  font-size: 22px;
  color: #ce1a2c;
  font-weight: 700;
  background-color: white;
  width: 60px;
  border-radius: 6px;
}

.topHeader .countdown-container .countdown-box span:last-child {
  font-size: 14px;
  font-weight: 700;
}

@media screen and (min-width: 992px) and (max-width: 1012px) {
  .topHeader {
    gap: 4px;
  }
}

@media screen and (max-width: 991px) {
  .topHeader {
    /* flex-direction: column; */
    padding: 12px;
    flex-wrap: wrap;
  }
}

@media screen and (max-width: 576px) {
  .topHeader {
    font-size: 14px;
    gap: 6px;
  }

  .topHeader .countdown-container .countdown-box span:first-child {
    font-size: 14px;
    width: 40px;
  }

  .topHeader .countdown-container .countdown-box span:last-child {
    font-size: 12px;
  }
}

.topHeader .boldText {
  font-weight: 900;
}

.topHeader button {
  background-color: white;
  color: #000;
  border: none;
  border-radius: 4px;
  font-weight: 600;
  padding: 4px 30px;
  margin-left: 20px;
  position: relative;
  z-index: 5;
}

.topHeader button svg {
  margin-left: 8px;
}

.topHeader .saleGif {
  position: absolute;
  top: -40px;
  left: 0px;
  width: 292px;
}

.topHeader .rightGif {
  left: auto;
  right: 0px;
}

/* ======================================== buyingBundlesSect css========================================   */

.buyingBundlesSect {
  background-color: #0e1422;
  position: relative;
  margin-top: -32px;
  padding-top: 60px;
}

.buyingBundlesSect .row {
  gap: 30px 0px;
}

.buyingBundlesSect .buyingCard {
  display: flex;
  flex-direction: column;
  gap: 30px;
  background-color: #1b1c2d;
  border: 1px solid #ffffff33;
  border-radius: 10px;
  padding: 30px 0px;
  position: relative;
  overflow: hidden;
}

.buyingBundlesSect .buyingCard::before,
.buyingBundlesSect .buyingCard::after,
.cardListSect .card::before,
.cardListSect .card::after {
  content: "";
  position: absolute;
  width: 80px;
  height: 80px;
  background-color: var(--primary-color);
  filter: blur(130px);
}

.cardListSect .card::before,
.buyingBundlesSect .buyingCard::before {
  top: 0px;
  left: 0px;
}

.buyingBundlesSect .buyingCard::after {
  bottom: 120px;
  right: 0px;
}

.cardListSect .card::after {
  bottom: 0px;
  right: 0px;
}

.buyingBundlesSect .buyingCard .titleWrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  border-bottom: 1px solid #ffffff33;
  padding-bottom: 20px;
}

.buyingBundlesSect .buyingCard .title {
  color: var(--text-primary-color);
  font-size: 34px;
  font-weight: 500;
}

.buyingBundlesSect .buyingCard img {
  width: 100%;
}

.buyingBundlesSect .buyingCard .listWrapper {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.buyingBundlesSect .buyingCard .list {
  color: var(--text-primary-color);
}

.buyingBundlesSect .buyingCard .listWrapper,
.buyingBundlesSect .buyingCard .btnWrapper {
  padding: 0px 16px;
}

.buyingBundlesSect .buyingCard .browseBtn {
  background-color: var(--primary-color);
  color: var(--text-primary-color);
  border: none;
  border-radius: 8px;
  padding: 10px 24px;
  width: 100%;
  font-size: 18px;
  font-weight: 600;
  display: block;
  text-align: center;
}

@media screen and (max-width: 575px) {
  #header .navLogo {
    max-width: 166px;
  }

  .buyingBundlesSect {
    margin-top: -46px;
  }

  .buyingBundlesSect .buyingCard .title {
    font-size: 28px;
  }
}
